TelegramGrouping/obj/*.*
.vs/TelegramFunelerVerNext/v15/.suo
.vs/TelegramFunelerVerNext/v15/Server/sqlite3/db.lock
.vs/TelegramFunelerVerNext/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
*.baml
bin/*.*
*.exe
*.pdb
*.cache
TelegramGrouping/obj/Debug/DataGridGroupDemo_MarkupCompile.cache
TelegramGrouping/obj/Debug/DataGridGroupDemo.pdb
TelegramGrouping/obj/Debug/DataGridGroupDemo.g.resources
TelegramGrouping/obj/Debug/DataGridGroupDemo.exe
